body {
  font-family: "Roboto", sans-serif;
  background-color: #fffdfa;
}

.navbar-toggler:focus {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
h3 {
  text-align: center;
  font-size: 40px;
}
.container-navigation {
  margin: 50px;
}
.navbar-nav .nav-link {
  margin-right: 20px;
  font-size: 18px;
}
.navbar-nav .nav-link.active {
  color: #ff5151;
}
.logo {
  width: 170px;
  height: 24px;
}
.hero,
.contact-form-container,
.aboutMe-container,
.work-container {
  padding-top: 40px;
}
.hero-container,
.project-container,
.contact-container {
  display: flex;
  justify-content: center;
}
.hero-container,
.project-container {
  margin: 50px 100px;
  gap: 60px;
  flex-wrap: wrap;
}

.hero img {
  max-width: 300px;
  height: auto;
  border-radius: 20px;
}
.hero-text-container {
  max-width: 400px;
}
.hero-text-container,
.project-text-container,
.contact-element,
.encouraging-message,
form {
  display: flex;
  flex-direction: column;
}
.project-container {
  margin: 50px 100px;
}
.project-text-container {
  max-width: 600px;
}
h2 {
  font-size: 40px;
}
h1,
h4,
h5 {
  font-weight: bold;
  font-family: "Vollkorn", serif;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 24px;
}
h3 {
  font-size: 28px;
  margin-top: 40px;
}
.button,
#btn-send,
#copyToClipBoard {
  color: #fdfdfd;
  font-size: 18px;
  text-align: center;
  background-color: #ff5151;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.3s ease-in;
  padding: 18px 18px;
  width: 200px;
}
.button:hover,
#btn-send:hover,
#copyToClipBoard:hover {
  background-color: #ff9238;
}
.seeMore {
  text-align: center;
  margin-top: 100px;
}
.seeMore .button {
  color: #fdfdfd;
  background-color: #231f20;
  padding: 20px 60px;
}
.seeMore .button:hover {
  background-color: #231f206d;
}

.project-container img {
  max-width: 600px;
  border-radius: 20px;
}
.small-paragraph {
  display: none;
}

h4 {
  font-size: 34px;
}
.highlight {
  color: #ff5151;
}

.project-container p {
  font-size: 20px;
  max-width: 60ch;
}
.project-text-container a {
  width: 150px;
}
.work-container h1 {
  text-align: center;
  margin: 60px;
  font-size: 40px;
}
.footer {
  color: #fdfdfd;
  background-color: #231f20;
  padding: 20px;
  margin: 70px 20px 20px 20px;
  border-radius: 20px;
}
.contact-container {
  margin: 60px;
}
.contact-element {
  align-items: center;
  gap: 3px;
  width: 300px;
}
.footer i {
  padding: 35px;
  font-size: 25px;
  margin: 10px;
  border-radius: 100%;
  background-color: #ff5151;
}
.footer a {
  text-decoration: none;
  color: #ff5151;
  transition: all 0.2s;
}
.footer a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.footer p {
  text-align: center;
  font-size: 15px;
}
.aboutMe-container {
  margin: 40px;
}
.aboutMe-container h1 {
  text-align: center;
  margin: 20px;
  font-size: 40px;
}
.aboutMe-container p {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}
.aboutMe-container a {
  display: block;
  margin: 40px auto;
}

.contact-form-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
  gap: 40px;
}
.encouraging-message {
  align-items: center;
  justify-content: center;
}
form {
  border-radius: 20px;
  padding: 50px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #231f20;
}

form h5 {
  font-size: 30px;
  color: #fffdfa;
  margin-bottom: 20px;
}
form input,
form textarea {
  border: 0;
  border-bottom: 2px solid #fffdfa;
  margin: 10px;
  padding: 20px;
  outline: none;
  background-color: #231f20;
  font-size: 16px;
  caret-color: #fffdfa;
  color: #fffdfa;
}
#btn-send,
#copyToClipBoard {
  border: none;
  margin: 10px;
}

@media (max-width: 1400px) {
  body {
    text-align: center;
  }
  .button {
    margin: 0 auto;
    width: 200px;
  }
  .project-container {
    margin: 50px 40px;
  }
  .big-paragraph {
    display: none;
  }
  .small-paragraph {
    display: block;
  }
  #btn-send {
    margin: 20px auto;
  }
  p {
    hyphens: auto;
  }
}
@media (max-width: 1023px) {
  .hero img {
    display: none;
  }
  .contact-container {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .project-container img {
    width: 300px;
  }
  .contact-form-container {
    margin: 50px 20px;
  }
}
